params {
    container = false
    container_python = "769915755291.dkr.ecr.us-west-2.amazonaws.com/python-utils:e3e173f"
    input_tiff = false
    output_folder = false
    threshold = 0.5
    pixelSize = 0.50
    channels = 0
    cellExpansion = 5.0
    cellConstrainScale = 1.5
    build_dashboard = true
    cluster_by = "Cell.Mean"
    cluster_method = "leiden"
    cluster_resolution = 1.0
    cluster_n_neighbors = 10
    scaling = "robust" // Options: "none", "zscore", "robust", "minmax"
    clip_lower = -2.0
    clip_upper = 2.0
}